.cache
.config/google-chrome
.gnupg
.git
.thumbnails
.vim_runtime/.git

.ICEauthority
.Xauthority
.xsession-errors
.xsession-errors.old

Application
Desktop
Documents
Downloads
Music
Pictures
Public
Temporary
Videos
