.cache
.config/google-chrome
.config/dconf
.gnupg
.git
.local
.thumbnails
.vim_runtime

.ICEauthority
.lesshst
.vim_mru_files
.Xauthority
.xsession-errors
.xsession-errors.old

Application
Desktop
Documents
Downloads
Music
Pictures
Public
Temporary
Videos
