.bash_history
.cache
.config
.gnupg
.git
.git-credentials
.local
.thumbnails
.vim_runtime
.viminfo

.ICEauthority
.lesshst
.vim_mru_files
.config/xfce4
.Xauthority
.xsession-errors
.xsession-errors.old

Application
Desktop
Documents
Downloads
Music
Pictures
Public
Temporary
Videos
