[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/iphelf/Desktop/Test.txt]
row=6
col=0

[/home/iphelf/Desktop/Note.txt]
row=5
col=0

[ACCEFE3FCEFE00FE]
row=0
col=0

[00039AC1000DEEAA]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/iphelf]
row=4
col=0

